* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
    font-family: "Noto Serif TC", serif;
  }
.doorimg{
    font-size: 100px;
    padding: 100px;
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
    margin-top: 50px;
    background: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
        url("/images/opendoor2.avif");
    background-position: right top;
    background-repeat: no-repeat;
    background-position: center;
}
.homeimg{
    text-align: center;
    margin-top: 50px;
    background: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
        url("/images/theaterchairimg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
h1, h2, p{
    color: whitesmoke;
}
h1{
    font-size: 50px;
}
a{
    color: whitesmoke;
    text-decoration: none;
}
nav ul{
    position: relative;
    top: 15px;
}
nav{
     background-color: rgb(21, 24, 27);
     width: 100%;
     height: 60px;
}
a:hover{
    text-decoration: underline;
}
nav li{
    margin:50px;
    list-style-type: none;
    display: inline; 
    position: relative; 
    left: 50px;
    right: 50px;
}
header, section, footer {
    background-color: rgb(21, 24, 27);
    border: 5px solid rgb(229, 199, 52);
    padding: 30px 70px; 
    margin: 30px;
}